In [14]:
import pandas as pd
d1= {'col1': [1, 2], 'col2': [3, 4], 'col3': [1, 2], 'col4': [3, 4]}
d2 = {'col1': [1, 2], 'col2': [3, 4]}
xtrain_tfidf = pd.DataFrame(data=d1)
xtrain_tfidf

   col1  col2  col3  col4
0     1     3     1     3
1     2     4     2     4

In [15]:
x_trump_df = pd.DataFrame(data=d2)
x_trump_df

   col1  col2
0     1     3
1     2     4

In [16]:
missing_cols  = set(xtrain_tfidf.columns) - set(x_trump_df.columns)
for c in missing_cols:
    x_trump_df[c] = 0
x_trump_df = x_trump_df[x_train_df.columns]

NameError: name 'x_train_df' is not defined

In [17]:
x_trump_df

   col1  col2  col4  col3
0     1     3     0     0
1     2     4     0     0

In [2]:
import numpy as np

In [3]:
a = np.array([[1, 2], [3, 4]])

In [4]:
a

array([[1, 2],
       [3, 4]])

In [7]:
xtrain_tfidf = pd.DataFrame(a)

In [8]:
xtrain_tfidf

   0  1
0  1  2
1  3  4

In [ ]:
Thank you for your hard work

In [18]:
x_trump_df.to_numpy()

array([[1, 3, 0, 0],
       [2, 4, 0, 0]])